body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Увеличили максимальную ширину формы */
    width: 100%;
}

.form-group input[type="radio"] {
    margin-right: 8px;
    vertical-align: middle;
}

.form-group label[for="male"],
.form-group label[for="female"] {
    display: inline-block;
    margin-bottom: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.form-input {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    border-color: #ff6347 !important;
}

.error-message {
    color: #ff6347;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.errorsInfo {
    color: #ff6347;
    font-size: 14px;
    margin-top: 10px;
}
